body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
    padding-top: 50px; 
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
}

#searchButton {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 20px;
    text-align: left;
}

.book {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.book img {
    max-width: 100px;
    margin-right: 10px;
}

.book .info {
    display: inline-block;
    vertical-align: top;
}
